<div
  id="nav"
  class="centered-flexbox"
  style="position: <%= first_time_login ? 'static' : 'fixed' %>"
  data-controller="nav"
  data-full-screen="false"
>
  <div
    id="full-screen"
    class="nav-element"
    data-action="click->nav#toggle"
    data-nav-target="fullScreenTrigger"
  >
    <span class="disabled-text">Go</span>
    <span class="enabled-text">Exit</span>
    full screen
  </div>
  <div class="nav-element">
    <%= render 'help_modal', first_time_login: first_time_login %>
  </div>
  <div class="nav-element">
    <%= button_to 'Logout', destroy_user_session_path, method: 'delete', class: 'logout'  %>
  </div>
  <div class="nav-element">
    <%= link_to 'http://www.renodor.co', target: :blank, class: 'centered-flexbox' do %>
      <%= image_tag 'renodor.png', id: 'renodor' %>
    <% end %>
  </div>
</div>