<div id="nav" class="centered-flexbox" style="position: <%= first_time_login ? 'static' : 'fixed' %>">
  <div class="nav-element">
    <%= render 'full_screen' %>
  </div>
  <div class="nav-element">
    <%= render 'help_modal', first_time_login: first_time_login %>
  </div>
  <div class="nav-element">
    <%= button_to 'Logout', destroy_user_session_path, method: 'delete', class: 'logout'  %>
  </div>
  <div class="nav-element">
    <%= link_to 'http://www.renodor.co', target: :blank, class: 'centered-flexbox' do %>
      <%= image_tag 'renodor.png', id: 'renodor' %>
    <% end %>
  </div>
</div>