<div id="game">
  <canvas
    data-controller="game"
    data-action="patterns:currentPatternChanged@document->game#changeCurrentPattern"
    data-game-current-pattern-id-value="<%= @current_pattern.id %>"
    data-game-current-pattern-solved-value="<%= @current_pattern.solved?(current_user) %>"
  >
  </canvas>
  <button id="pattern-reveal">Reveal Pattern</button>

  <div
    id="patterns-menu"
    class="hidden"
    data-controller="patterns"
    data-action="game:currentPatternSolved@document->patterns#solveCurrentPattern"
  >
    <div
      id="current-pattern"
      data-patterns-target="currentPattern"
      data-id="<%= @current_pattern.id %>"
      data-solved="<%= @current_pattern.solved?(current_user) %>"
      data-revealed="false"
    >
      <div data-patterns-target="currentPatternSvg" class="pattern-svg">
        <%= pattern_svg(@current_pattern) %>
      </div>
      <div
        data-patterns-target="revealPattern"
        data-action="click->patterns#toggleRevealPattern"
        class="reveal-pattern"
      >
        <%= svg 'icons/eye_fill.svg', 'eye' %>
        <%= svg 'icons/eye_crossed.svg', 'eye-crossed' %>
      </div>
    </div>
    <div id="hide-pattern-menu" data-action="click->patterns#toggle">
      <%= svg 'icons/caret' %>
    </div>
    <div id="patterns">
      <% @patterns.each do |pattern| %>
        <div
          class="pattern"
          data-patterns-target="pattern"
          data-id="<%= pattern.id %>"
          data-action="click->patterns#changeCurrentPattern"
          data-solved="<%= pattern.solved?(current_user) %>"
          data-selected="<%= pattern == @current_pattern %>"
        >
          <%= pattern_svg(pattern) %>
        </div>
      <% end %>
    </div>
  </div>
</div>