<div id="game">
  <canvas
    data-controller="game"
    data-game-current-pattern-value="<%= @current_pattern_json %>"
  >
  </canvas>
  <button id="pattern-reveal">Reveal Pattern</button>

  <div id="patterns-menu" data-controller="patterns-menu">
    <div
      id="current-pattern"
      data-patterns-menu-target="currentPattern"
      data-id="<%= @current_pattern.id %>"
      data-solved="<%= @current_pattern.solved?(current_user) %>"
      data-revealed="false"
    >
      <div data-patterns-menu-target="patternSvg" class="pattern-svg">
        <%= svg "patterns/#{@current_pattern.name}.svg" %>
      </div>
      <div
        data-patterns-menu-target="revealPattern"
        data-action="click->patterns-menu#revealPattern"
        class="reveal-pattern"
      >
        <%= svg 'icons/eye_fill.svg', 'eye' %>
        <%= svg 'icons/eye_crossed.svg', 'eye-crossed display-none' %>
      </div>
    </div>
    <div id="hide-pattern-menu" data-action="click->patterns-menu#toggle">
      <%= svg 'icons/caret' %>
    </div>
    <div id="patterns">
      <% @patterns.each do |pattern| %>
        <div
          class="pattern"
          data-patterns-menu-target="pattern"
          data-id="<%= pattern.id %>"
          data-action="click->patterns-menu#selectPattern"
          data-solved="<%= pattern.solved?(current_user) %>"
          data-selected="<%= pattern == @current_pattern %>"
        >
          <%= svg "patterns/#{pattern.name}.svg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>