<div id="game">
  <%= render 'nav', first_time_login: @first_time_login %>

  <canvas
    data-controller="game"
    data-action="patterns:currentPatternChanged@document->game#changeCurrentPattern"
    data-game-current-pattern-id-value="<%= @current_pattern.id %>"
    data-game-current-pattern-solved-value="<%= @current_pattern.solved?(current_user) %>"
    data-game-textures-value="<%= @textures.to_json %>"
  >
  </canvas>

  <% if current_user.admin? %>
    <button id="create-solution" class="button secondary">Create solution</button>
  <% end %>

  <%= render 'pattern_menu' %>
  <%= render 'winning_modal' %>
</div>