<div id="game">
  <canvas
    data-controller="game"
  >
  </canvas>
  <button id="pattern-reveal">Reveal Pattern</button>

  <div id="patterns-menu" data-controller="patterns-menu">
    <div id="current-pattern" data-patterns-menu-target="currentPattern" data-id="<%= @current_pattern.id %>">
      <div class="pattern <%= 'solved' if @solved_patterns.include?(@current_pattern) %>">
        <%= @current_pattern.name %>
      </div>
    </div>
    <div id="hide-pattern-menu" data-action="click->patterns-menu#toggle">
      <span>
        V
      </span>
    </div>
    <div id="patterns">
      <% @patterns.each do |pattern| %>
        <div
          class="pattern <%= 'current' if pattern == @current_pattern %>"
          data-id="<%= pattern.id %>"
          data-name="<%= pattern.name %>"
          data-action="click->patterns-menu#selectPattern"
          data-solved="<%= @solved_patterns.include?(pattern) %>"
          data-patterns-menu-target="pattern"
        >
          <%= pattern.name %>
        </div>
      <% end %>
    </div>
  </div>
</div>