<div id="game">
  <canvas
    data-controller="game"
  >
  </canvas>
  <button id="pattern-reveal">Reveal Pattern</button>

  <div id="patterns-menu" data-controller="patterns-menu">
    <div id="current-pattern" data-patterns-menu-target="currentPattern" data-id="<%= @current_pattern.id %>">
      <div class="pattern <%= 'solved' if @current_pattern.solved?(current_user) %>">
        <%= svg "patterns/#{@current_pattern.name.parameterize}.svg", "svg-pattern #{'solved' if @current_pattern.solved?(current_user)}" %>
      </div>
    </div>
    <div id="hide-pattern-menu" data-action="click->patterns-menu#toggle">
      <span>
        <%= svg 'caret' %>
      </span>
    </div>
    <div id="patterns">
      <% @patterns.each do |pattern| %>
        <div
          class="pattern <%= 'current' if pattern == @current_pattern %>"
          data-patterns-menu-target="pattern"
          data-id="<%= pattern.id %>"
          data-name="<%= pattern.name %>"
          data-action="click->patterns-menu#selectPattern"
          data-solved="<%= pattern.solved?(current_user) %>"
          data-image-url="<%= image_path("patterns/#{pattern.name.parameterize(separator: '_')}.svg") %>"
        >
          <%
=begin%>
 <%= svg "patterns/#{pattern.name.parameterize}.svg", "svg-pattern #{'solved' if pattern.solved?(current_user)}" %> 
<%
=end%>
        <%= svg "patterns/#{pattern.name.parameterize(separator: '_')}.svg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>